@font-face {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("@/assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("@/assets/fonts/Montserrat/Montserrat.woff2") format("woff2");
}

section {
  padding: 2rem;
}

section:nth-of-type(odd) {
  background: #18191a;

  box-shadow: 0 0 0 100vmax #18191a;
  clip-path: inset(0 -100vmax);

  color: #dde6ed;
}

section:nth-of-type(even) {
  background: #dde6ed;

  box-shadow: 0 0 0 100vmax #dde6ed;
  clip-path: inset(0 -100vmax);

  color: #18191a;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: clamp(2rem, calc(1.65rem + 1.74vw), 3rem);
}

.navbar,
.footer {
  background: #242526;

  box-shadow: 0 0 0 100vmax #242526;
  clip-path: inset(0 -100vmax);

  color: #dde6ed;
}
